/* === Custom Layout Utilities === */

/* PAGE/SECTION */
.page-wrapper {
  @apply flex flex-col items-center;
}

.section-title {
  @apply text-h2Bold text-center;
}

.section-subtitle {
  @apply text-bodySemi text-center;
}

.section-description {
  @apply text-bodyLight text-center;
}

/* CARDS */
.card-container {
  @apply w-full rounded-lg bg-accent sm:p-5 p-3;
}

.card-wrapper {
  @apply w-full max-w-insights;
}

.card-header {
  @apply sm:text-h2Bold text-h3 text-center mb-2;
}

.card-summary {
  @apply text-bodyMed mb-8;
}

.card-suggestion-label {
  @apply text-labelBold mr-2 whitespace-nowrap;
}

.card-suggestion-text {
  @apply text-label;
}

/* SELECTORS */
.selector-grid {
  @apply flex flex-wrap justify-center;
}

.category-selector-button {
  @apply sm:h-[48px] h-[30px] sm:px-[30px] px-[20px] rounded-[8px] border sm:text-h2 text-bodyLight transition;
}
.mood-selector-button {
  @apply flex items-center sm:h-[38px] h-[30px] sm:px-[38px] px-[27px] rounded-[8px] border sm:text-bodyMed text-label transition;
}

.submit-button {
  @apply flex items-center justify-center rounded-md transition hover:opacity-90;
}

.input {
  @apply rounded-lg border border-border bg-transparent px-4 py-2 text-[15px] text-text transition focus:outline-none hover:border-accent focus:border-accent;
}

.textarea {
  @apply sm:w-textAreaLg w-textAreaSm max-w-full resize-none input overflow-hidden;
}

.timeDisplay {
  @apply w-full max-w-[290px] h-[87px] text-timeSm sm:text-time text-primary text-center;
}
